<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Bower</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/panda.min.css">
</head>
<body>

<script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/dev/app.js"></script>
</body>
</html>